<div class="fixed h-12 left-0 right-0 top-0 flex items-center border-slate-900/10 border-b px-4 text-lg font-semibold z-50 bg-white/90 backdrop-blur gap-2">
    {% comp "icon_button", id="navToggler", class="lg:hidden" %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
    {% endcomp %}

    <div class="grow">Levi Rizki Saputra Notes</div>

    {% comp "icon_button", id="tocToggler", class="xl:hidden" %}
        <svg id="tocToggler" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
    {% endcomp %}
</div>