{% set base_li_class = "text-sm" %} {% set base_a_class = "underline decoration-slate-400
hover:decoration-slate-600" %}
<nav class="mb-4" aria-label="breadcrumb">
  <ul vocab="https://schema.org/" typeof="BreadcrumbList" class="list-none flex flex-row flex-wrap">
    {% for sup in supernotes %} {% set page = search.page("id=" + sup) %}
    {{
      comp.breadcrumb_item({
        url: page.data.url,
        current: false,
        title: page.data.title,
        position: loop.index
      }) | safe
    }}
    {% endfor %}
    {{
      comp.breadcrumb_item({
        url: url,
        current: true,
        title: title,
        position: supernotes.length + 1
      }) | safe
    }}
  </ul>
</nav>
