{{ comp.backdrop({ id: "tocBackdrop", extra: "xl:!hidden" }) | safe }}
<aside
  id="toc"
  class="fixed z-50 w-78 right-0 top-0 xl:top-12 bottom-0 bg-white translate-x-full xl:translate-x-0 data-[open=true]:translate-x-0 transition-transform flex flex-col"
>
  {{ comp.mobile_close({ id: "tocClose", extra: "xl:hidden", label: "close table of content" }) | safe }}
  <nav class="p-4 overflow-y-auto">
    <header>
      <h2 class="text-sm font-semibold mb-4 uppercase">On this page</h2>
    </header>
    <p class="text-sm text-slate-700 hover:text-slate-900">
      <a href="#">{{ title }}</a>
    </p>
    <div class="pl-3">
      {{ comp.toc_list({ items: toc }) | safe }}
    </div>
  </nav>
</aside>
