{% set border_color = "border-slate-300" %}
<div class="border {{border_color}} rounded-xl px-4 my-5 transition-[box-shadow] hover:shadow-xl">
    <div class="flex justify-between border-b {{border_color}} py-3 text-sm not-prose">
        <div>From <span class="font-semibold">{{ targetTitle }}</span></div>
        <a href="{{ targetUrl }}" class="group text-slate-700 hover:text-slate-900">
            Go to text
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline-block transition-transform ml-1 group-hover:translate-x-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
        </a>
    </div>
    <div class="py-3 prose md:max-w-none prose-headings:first:mt-0">
        {{ content | md | safe }}
    </div>
</div>